<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gene Knowledge Base - Volcano Plot</title>
    <!-- Add Plotly.js CDN -->
    <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="loader" style="display: none;">Loading...</div>

    <div id="myDiv">
        <button id="toggleButton">2D</button>
        <button id="resetButton">
            Reset to Initial Position
        </button>
        <div id="sidebar">
            <h2>Information</h2>

            <div id="protein-plot"></div>
            <div id="scientific-paper">


            </div>
            <button id="loadMoreBtn"></button>
            <div id="sidebar-content"></div>

            <button id="closeSidebar">Close</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
