<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gene Knowledge Base - Volcano Plot</title>
    <!-- Add Plotly.js CDN -->
    <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
    <!-- Add GSAP from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.module.js",
            "three/webgpu": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.webgpu.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/",
            "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/",
            "camera-controls": "https://cdn.jsdelivr.net/npm/camera-controls@1.34.2/dist/camera-controls.module.js",
            "gsap": "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js",
            "dat.gui": "https://cdn.jsdelivr.net/npm/dat.gui@0.7.9/build/dat.gui.module.js"
          }
        }
    </script>




</head>
<body>

    <div id="loader" style="display: none;">Loading...</div>
    <button id="testButton">
        Test Page
    </button>
    <div id="myDiv">
        <button id="toggleButton">2D</button>
        <button id="resetButton">
            Reset to Initial Position
        </button>
        <div id="elem-info"></div>
        <div id="sidebar">
            <!-- Search bar and back button -->
            <label class="label">
                <input type="text" class="search_bar" placeholder="Search for something..." />
            </label>
            <button id="close-info">Back</button>

            <!-- Title above the sidebar content -->
            <div id="welcome-message">
                <h2>Welcome Gene Knowledge Base</h2>
            </div>

            <!-- Container for important genes -->
            <div id="important-genes">
                <div class="header">
                    <div class="left">
                        <h3 id="symbolName">Top Genes</h3>
                    </div>
                    <div class="right">
                        <h3 id="logTitle">logFC</h3>
                        <h3 id="pTitle">adj_P_Val</h3>
                    </div>
                </div>

                <div id="genes-list"></div>
                <button id="moreImportantBtn">more indices</button>
            </div>

            <!-- Protein plot and scientific paper container -->
            <div id="protein-plot"></div>
            <div id="scientific-paper"></div>
            <button id="loadMoreBtn"></button>
            <div id="sidebar-content"></div>
        </div>

    </div>
{#    <script src="{{ url_for('static', filename='js/index.js') }}"></script>#}
    <script type="module" src="{{ url_for('static', filename='js/index-three.js') }}"></script>

</body>
</html>
