/* Ensure that the body and html elements take the full height of the viewport */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323FF;
    z-index: 10;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



#myDiv {
    width: 100%;
    height: 100vh;
    left: 0;
    position: relative;
    z-index: 900;
    opacity: 0; /* Početna vrednost */
    animation: fadeIn 1s ease-out forwards;
}


/* Optional: to prevent body overflow from affecting the plot */
html {
    overflow: hidden;
}
.loader-container{
    z-index: 9998;    /* Postavi visoki z-index da loader bude ispred svih elemenata */
    background-color: #232323FF;
}





/* Loader container styles */
.loader-container {
    position: fixed; /* da bude uvek na ekranu */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* polutransparentna pozadina */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999; /* postavljamo ga iznad ostalih elemenata na stranici */
}

/* Title styling */
.title {
    font-size: 3rem; /* Veći font za title */
    font-weight: bold;
    margin-bottom: 20px;
}

/* Loader styling */
.loader {
    font-size: 1.5rem; /* Srednja veličina za loader tekst */
    animation: pulse 2s infinite ease-in-out;
    margin-bottom: 20px;
}

/* Button styling */
#exploreBtn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Animation for loader */
@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}



.label {
  position: relative;
  display: block;
  width: 95%;
  border-radius: 10px;
  border: 2px solid #5e5757;
  padding: 15px 8px 15px 10px;
  text-align: left;
  box-shadow:
    20px 20px 60px rgba(140, 48, 97),
    -20px -20px 60px rgba(211, 144, 75);
}

.shortcut {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: #c5c5c5;
  background-color: #5e5757;
  padding: 0.3em;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.search_bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(111, 115, 119);
}


.results {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 30vh; /* 30% viewport height */
    overflow-y: auto;
    border-radius: 5px;
    background: rgba(37, 37, 37, 0.95);
    border: 1px solid rgba(140, 48, 97, 0.78);
    border-top: none;
    z-index: 9999;
}
/* Poboljšanje izgleda scrolla */
.results::-webkit-scrollbar {
    width: 4px;
}

.results::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.results::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}
.result-item {
    position: relative; /* Neophodno za apsolutno pozicioniranje pseudo-elementa */
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(140, 48, 97, 0.78);
    overflow: hidden; /* Sprečava curenje blura izvan okvira */
}

.result-item:hover {
    background: rgba(37, 37, 37, 0.84);
    color: white;
}

/* Precizno pozicioniran blur efekat */
.result-item:hover::after {
    content: "View Gene";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, 0.4); /* Lagano zatamni pozadinu */
    backdrop-filter: blur(3px); /* Manji blur da ne bude prejak */
    border-radius: 5px; /* Prati border-radius elementa */
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


.result-item:hover::after {
    opacity: 1; /* Prikazuje blur efekat i tekst na hover */
}
canvas {
    display: block;
    background-color: #000; /* Set a background color for the canvas */
    width: 100%;  /* Ensure canvas takes full width */
    height: 100%;  /* Ensure canvas takes full height */
}

/* For debugging, ensure canvas size is correctly set */
canvas[data-engine="three.js r153"] {
    max-width: 100%;
    max-height: 100%;
}


#resetButton{
    position: fixed;
    top: 20px;
    right: 50%;
    padding: 10px 20px;
    /*background-color: #FF5722;*/
    /*color: white;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    cursor: pointer;
    z-index: 999;
}


#musicElement{
    position: fixed;
    top: 20px;
    right: 20%;
    padding: 10px 20px;
    /*background-color: #FF5722;*/
    /*color: white;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    cursor: pointer;
    z-index: 999;
}

.custom-link {
    color: rgba(211, 144, 75);
    text-decoration: none;
    font-weight: bold;
}


.custom-link:hover {
    color: rgb(255, 199, 82);
    transform: scale(1.1);
}


.gene-link {
    font-size: 12px;
    display: block;
    margin: 1% 0; /* Povećajte marginu između linkova */
    color: #ffffff;
    text-decoration: underline;
}

.gene-link:hover {
    font-weight: bold;  /* Dodaje bold efekat */
}



button {
  border-radius: 7px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow:
    20px 20px 60px rgba(140, 48, 97, 0.78),
    -20px -20px 60px rgba(211, 144, 75);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#close-info{
    display: none; /* Inicijalno nevidljivo */
    font-size: 12px;
    text-transform: none;
    background:  none;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center; /* Poravnanje teksta u centru */
    text-decoration: none; /* Ukloni podvlačenje */
    cursor: pointer; /* Kursor se menja u ruku kada se prelazi preko dugmeta */
    border-radius: 5px; /* Zaobljeni ivice */
}

#close-info.visible {
    display: block; /* Dugme postaje vidljivo */
}

#moreImportantBtn {
    text-decoration: underline;
    font-size: 12px;  /* Smanjuje veličinu slova */
    position: absolute;  /* Postavlja dugme u odnosu na roditelja */
    right: 10px;  /* Poravnava dugme sa desnom stranom */
    display: flex;
    justify-content: center;  /* Centriranje sadržaja unutar dugmeta */
    align-items: center;
    border: none;
    color: #b5b3b3;
}


#important-genes {
    font-family: Arial, sans-serif;
}

/* Stilizuj header */
.header {
    display: flex;
    justify-content: space-between;  /* Prostor između leve i desne strane */
    align-items: center;
    margin-bottom: 10px;  /* Razmak između header-a i sadržaja */
}

.header h3 {
    color: #b5b3b3;
    font-size: 10px;
    margin: 0;
}

/* Razmak između naslova na levoj i desnoj strani */
.left, .right {
    display: flex;
    flex-direction: row;  /* Postavlja naslove horizontalno */
    align-items: center;
}

/* Razmak između logTitle i pTitle */
.right h3 {
    margin-left: 20px;  /* Razmak između logFC i adj.P.Val */
}

/*#pTitle{*/
/*    margin-left: 7%;*/
/*    padding-right: 5%;*/
/*}*/

/* Stilizuj gene item */
.gene-item {
    display: flex;
    justify-content: space-between;  /* Poravnanje elemenata u horizontalnoj liniji */
    align-items: center;  /* Poravnavanje po vertikali */
    margin: 2% 0;
    padding: 2%;
    text-decoration: none;  /* Ukloni underline */
}

/* Stilizuj gene symbol */
.gene-symbol {
    flex: 1;  /* Šira od drugih kolona */
    text-align: left;
    margin-bottom: 10px; /* Razmak ispod gene-symbol */
    text-decoration: underline;
    transition: font-weight 0.2s ease-in-out;
    cursor: pointer;
}

.gene-symbol:hover {
    font-weight: bold;
    text-shadow:
        2px 2px 10px rgba(140, 48, 97, 0.8),
        -2px -2px 10px rgba(211, 144, 75, 0.8);
}

/* Stilizuj logFC i adjPVal tako da idu jedan ispod drugog */
.logFC, .adjPVal {
    flex: 1;  /* Manje od geneSymbol */
    text-align: right;
    margin-bottom: 10px;  /* Razmak ispod logFC i adjPVal */
}




/* Dodatni stil za poravnanje ispod titlova */
.gene-item .gene-symbol,
.gene-item .logFC,
.gene-item .adjPVal {
    display: block;
}

/* Ako su logFC i adjPVal unutar linkova, ukloni underline sa linkova */
.gene-item a {
    text-decoration: none;  /* Ukloni underline sa linkova */
}

#loadMoreBtn{
    margin-top: 2%;
    padding: 10px 20px;
    display: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}
p {
    font-size: 18px;
}

button:hover {
  background: rgb(71, 71, 71);
  box-shadow: 0 0 30px 5px rgba(96, 96, 96, 0.81);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


#stopButton{
    position: fixed;
    top: 20px;
    right: 80%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
}

#toggleButton{

    position: fixed;
    top: 20px;
    left: 2%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
}


#overlay {
    position: fixed;
    top: 3vh;
    right: 0;
    bottom: 5vh;
    width: 18%;        /* Sidebar zauzima 20% širine ekrana */
    height: 92vh;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Tamna providna pozadina */
    border-radius: 20px; /* Zaobljene ivice */
    display: none; /* Sakriveno dok nije aktivno */
    z-index: 999; /* Manji z-index od sidebara */
}


#sidebar {
    position: fixed;
    top: 3vh;
    right: 0;
    bottom: 5vh;
    width: 18%;        /* Sidebar zauzima 20% širine ekrana */
    height: 92vh;     /* Sidebar zauzima 100% visine ekrana */
    background-color: rgba(43, 43, 43, 0.89); /* Sivkasta transparentna boja */
    color: white;
    padding: 20px;
    display: block;
    border-radius: 20px; /* Zaobljene ivice */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto; /* Omogućava vertikalni scroll */
    overflow-x: hidden; /* Sprečava horizontalni scroll */
     z-index: 1000; /* Manji z-index od sidebara */
}

/* Stil za protein plot da bude unutar sidebar-a */
#protein-plot {
    width: 90%;         /* Zauzima 100% širine sidebar-a */
    height: 30vh;        /* Zauzima 30% visine ekrana (baze za visinu sidebar-a) */
    margin-top: 20px;    /* Da se pomeri od vrha */

    position: relative;
    background-color: rgb(0, 0, 0); /* Boja pozadine */
    border-radius: 40px; /* Zaobljene ivice */
    display: none;
}

/* Poboljšanje izgleda scrolla */
#scientific-paper::-webkit-scrollbar {
    width: 4px;
}

#scientific-paper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#scientific-paper::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}
@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}


/*Loader for sidebar*/
.lava-lamp {
  position: relative;
  width: 50px;
  height: 100px;
  background: #000;
  border-radius: 25px;
  overflow: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #e64980, #ff8787);
  border-radius: 50%;
  left: 15px;
  animation: drop 5s ease-in-out infinite;
}
.bubble1 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #82c91e, #3bc9db);
  border-radius: 50%;
  left: 1px;
  animation: drop 3s ease-in-out infinite;
}
.bubble2 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #7950f2, #f783ac);
  border-radius: 50%;
  left: 30px;
  animation: drop 4s ease-in-out infinite;
}
.bubble3 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #4481eb, #04befe);
  border-radius: 50%;
  left: 20px;
  animation: drop 6s ease-in-out infinite;
}


#resetMusic, #toggleMusic {
    cursor: pointer;
}

#resetMusic img, #toggleMusic img {
    width: 30px;
    height: 30px;
    transform: scale(1);  /* Postavi početni scale na 1 */
    transition: transform 0.3s ease-in-out;
    filter: invert(1); /* Ovo će invertovati boje */
}


#resetMusic:hover img,
#toggleMusic:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
    filter: invert(1); /* Ovo će invertovati boje */
}





/* Loader for scientific papers */
#lava-loader {
  --uib-size: 200px;
  --uib-speed: 2.5s;

  position: absolute;  /* Pozicionira element u odnosu na najbliži roditelj sa pozicioniranjem */
  top: 50%;  /* Vertikalno centriranje */
  left: 50%; /* Horizontalno centriranje */
  transform: translate(-50%, -50%); /* Precizno centriranje pomoću transformacije */

  height: var(--uib-size);
  width: var(--uib-size);
}


#non-loader{
    opacity: 0;  /* Početno skriven */
    transform: scale(0.95); /* Blagi zoom-out efekat */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slice {
  position: relative;
  height: calc(var(--uib-size) / 6);
  width: 100%;
}

.slice::before,
.slice::after {
  --uib-a: calc(var(--uib-speed) / -2);
  --uib-b: calc(var(--uib-speed) / -6);
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - var(--uib-size) / 12);
  height: 100%;
  width: calc(100% / 6);
  border-radius: 50%;
  flex-shrink: 0;
  animation: orbit var(--uib-speed) linear infinite;
  transition: background-color 0.3s ease;
}

.slice:nth-child(1)::after {
  animation-delay: var(--uib-a);
}

.slice:nth-child(2)::before {
  animation-delay: var(--uib-b);
}

.slice:nth-child(2)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b));
}

.slice:nth-child(3)::before {
  animation-delay: calc(var(--uib-b) * 2);
}

.slice:nth-child(3)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 2);
}

.slice:nth-child(4)::before {
  animation-delay: calc(var(--uib-b) * 3);
}

.slice:nth-child(4)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 3);
}

.slice:nth-child(5)::before {
  animation-delay: calc(var(--uib-b) * 4);
}

.slice:nth-child(5)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 4);
}

.slice:nth-child(6)::before {
  animation-delay: calc(var(--uib-b) * 5);
}

.slice:nth-child(6)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 5);
}

@keyframes orbit {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }

  5% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
    opacity: 0.58;
  }

  10% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
    opacity: 0.51;
  }

  15% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
    opacity: 0.44;
  }

  20% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
    opacity: 0.37;
  }

  25% {
    transform: translateX(0%) scale(0.47368);
    opacity: 0.3;
  }

  30% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
    opacity: 0.37;
  }

  35% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
    opacity: 0.44;
  }

  40% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
    opacity: 0.51;
  }

  45% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
    opacity: 0.58;
  }

  50% {
    transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
    opacity: 0.65;
  }

  55% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
    opacity: 0.72;
  }

  60% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
    opacity: 0.79;
  }

  65% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
    opacity: 0.86;
  }

  70% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
    opacity: 0.93;
  }

  75% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }

  80% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
    opacity: 0.93;
  }

  85% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
    opacity: 0.86;
  }

  90% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
    opacity: 0.79;
  }

  95% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
    opacity: 0.72;
  }

  100% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
}

.slice:nth-child(1)::before,
.slice:nth-child(1)::after {
  background-color: rgba(217, 147, 89);
}

.slice:nth-child(2)::before,
.slice:nth-child(2)::after {
  background-color: rgba(217, 119, 89);
}

.slice:nth-child(3)::before,
.slice:nth-child(3)::after {
  background-color: rgba(211, 144, 75);
}

.slice:nth-child(4)::before,
.slice:nth-child(4)::after {
  background-color: rgba(198, 60, 81);
}

.slice:nth-child(5)::before,
.slice:nth-child(5)::after {
  background-color: rgba(140, 48, 97);
}

.slice:nth-child(6)::before,
.slice:nth-child(6)::after {
  background-color: rgba(82, 34, 88);
}
